.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5em 0;
}

.image {
  width: 70vw;
  height: auto;
}

.info {
  width: 70vw;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
