:root {
  --black: #1d1c1c;
  --bg: #ffebeb;
  --green: #669966;
  --dark-green: #003333;
  --red: #d01d20;
  --text: var(--dark-green);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;

  font-family: ff-nexus-typewriter, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: var(--bg);
  color: var(--text);

  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
}

h1 {
  font-family: ode, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 5em;
  text-align: center;
  display: none;
}

h3 {
  color: var(--text);
  font-family: ode, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  font-size: 2.5em;
}

h4 {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--text);
  font-family: ode, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-decoration: none;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection {
  background: greenyellow;
}
