.nav {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
}

.linkContainer {
  height: 98%;
  margin: 3em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.navImage {
  position: absolute;
  top: 3em;
  left: 3em;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.links {
  font-size: 3em;
}

.links:hover {
  text-decoration: underline;
}
