.nav {
  width: 100vw;
  position: fixed;
  z-index: 100;
  display: flex;
  top: 0;
  padding-top: 1em;
  justify-content: center;
}

.linkContainer {
  background-color: greenyellow;
  display: flex;
  align-items: center;
}

.links {
  font-size: 2em;
  padding: 0.1em 0.25em;
  transition: all 0.25s ease;
  text-transform: lowercase;
}

.links:hover {
  background-color: var(--text);
  color: greenyellow;
}
