.videos {
  position: absolute;
  width: 100vw;
  height: auto;
}

.videos:first-child {
  top: 0;
  z-index: -15;
}

.videos:last-of-type {
  top: 100vh;
  z-index: -15;
}

.article {
  padding: 0;
}
