.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 1em 0.25em; */
}

.card {
  height: min-content;
}

.image {
  width: calc(100vw / 3);
  height: calc(100vh / 3);
  object-fit: cover;
  /* padding: 0.25em; */
}

.image:hover {
  cursor: pointer;
}

.title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
