.article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  columns: 3;
  margin: 6em 0;
}

.card {
  height: min-content;
  padding: 0.5em;
}

.image {
  width: calc(100vw / 3.3);
  height: auto;
}

.title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
